<!--
<ul class="left">
  <li class="has-form">
    <div class="row collapse">
      <div class="large-8 small-9 columns">
        <input type="text" class="radius-ls expand" placeholder="Buscar Cerveza">
      </div>
      <div class="large-4 small-3 columns">
        <a href="#" class=" radius-rs button">Search</a>
      </div>
    </div>
  </li>
</ul>


<div class="column">
  <ul class="movies-grid no-bullet row">
    <% @movies.each do |movie| %>
      <li class="large-3 medium-4 small-12 column">
        <div class="movie-card padly">
          <%= link_to movie, class: "poster" do %>
            <%= image_tag movie.image.url  %>
          <% end %>
          <div class="movie-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= movie.title %> <span>(<%= 'categoria' %>)</span></h6>
            </div>
            <p class="left price label movie-label radius">$ <%= movie.price %></p>

          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div> -->

    <%= react_component('Container', { movies: @movies, searchPath: search_movies_path },  {prerender: true}) %>
