<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BeerStore - Online Beers" %></title>
    <link rel="shortcut icon" href="<%=asset_path("logo.png")%>" >


    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "layouts/header"%>

    <div id="main-content" class="row full-min-height">
      <%= yield %>
    </div>

    <footer class="row">
      <div class="large-12 columns">
        <hr>

        <div class="row position">
          <div class="title-footer">Ecommerce -  Distribuidos 2016</div>
          <ul class="zurb-links">
            <li><%= link_to "Quienes Somos", informations_about_path %></li>
            <li><%= link_to "Como Comprar", informations_howbuy_path %></li>
            <li><%= link_to "Nuestas Marcas", informations_brands_path %></li>
            <li><a href="http://zurb.com/sitemap">Sitemap</a></li>
          </ul>
         </div>


      </div>
    </footer>

    <%= javascript_include_tag "application" %>

  </body>
</html>
